/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v7-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat-Regular"), url("../fonts/montserrat-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v7-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v7-latin-regular.woff") format("woff"), url("../fonts/montserrat-v7-latin-regular.ttf") format("truetype"), url("../fonts/montserrat-v7-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */ }
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v11-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/lato-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v11-latin-regular.woff2") format("woff2"), url("../fonts/lato-v11-latin-regular.woff") format("woff"), url("../fonts/lato-v11-latin-regular.ttf") format("truetype"), url("../fonts/lato-v11-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */ }
/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/lato-v11-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Italic"), local("Lato-Italic"), url("../fonts/lato-v11-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v11-latin-italic.woff2") format("woff2"), url("../fonts/lato-v11-latin-italic.woff") format("woff"), url("../fonts/lato-v11-latin-italic.ttf") format("truetype"), url("../fonts/lato-v11-latin-italic.svg#Lato") format("svg");
  /* Legacy iOS */ }
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v11-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/lato-v11-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v11-latin-700.woff2") format("woff2"), url("../fonts/lato-v11-latin-700.woff") format("woff"), url("../fonts/lato-v11-latin-700.ttf") format("truetype"), url("../fonts/lato-v11-latin-700.svg#Lato") format("svg");
  /* Legacy iOS */ }
/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/lato-v11-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url("../fonts/lato-v11-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v11-latin-700italic.woff2") format("woff2"), url("../fonts/lato-v11-latin-700italic.woff") format("woff"), url("../fonts/lato-v11-latin-700italic.ttf") format("truetype"), url("../fonts/lato-v11-latin-700italic.svg#Lato") format("svg");
  /* Legacy iOS */ }
@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
.pure-img-responsive {
  max-width: 100%;
  height: auto; }

#layout,
#menu,
.menu-link {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out; }

#layout {
  position: relative;
  padding-left: 0; }
  #layout.active #menu {
    left: 210px;
    width: 210px; }
  #layout.active .menu-link {
    left: 210px; }

#menu {
  margin-left: -210px;
  width: 210px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background: #313841;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
  #menu a {
    color: #eee;
    border: none;
    padding: 0.8em 0 0.8em 20px; }
    @media (max-width: 768px) {
      #menu a {
        padding: 0.3em 0 0.3em 20px; } }
  #menu .pure-menu,
  #menu .pure-menu ul {
    border: none;
    background: transparent; }
  #menu .pure-menu {
    height: 100%;
    margin-bottom: -50px; }
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
      border-top: 1px solid #333; }
    #menu .pure-menu li a:hover,
    #menu .pure-menu li a:focus {
      background: #3a424d;
      -webkit-transition: background 0.4s ease;
      -moz-transition: background 0.4s ease;
      -ms-transition: background 0.4s ease;
      -o-transition: background 0.4s ease;
      transition: background 0.4s ease;
      text-decoration: none; }
  #menu .pure-menu-selected,
  #menu .pure-menu-heading {
    background: #21262c; }
  #menu .pure-menu-selected a {
    color: #fff; }
  #menu .pure-menu-heading {
    font-size: 110%;
    color: #fff;
    margin: 0; }

.menu-link {
  position: fixed;
  display: block;
  /* show this only on small screens */
  top: 0;
  left: 0;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  font-size: 10px;
  /* change this value to increase/decrease button size */
  z-index: 10;
  width: 2em;
  height: auto;
  padding: 2.1em 1.6em;
  line-height: 1em !important;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }
  .menu-link :hover,
  .menu-link :focus {
    background: #000; }
  .menu-link span {
    position: relative;
    display: block; }
  .menu-link span,
  .menu-link span:before,
  .menu-link span:after {
    background-color: #fff;
    width: 100%;
    height: 0.2em; }
  .menu-link span:before,
  .menu-link span:after {
    position: absolute;
    margin-top: -0.6em;
    content: " "; }
  .menu-link span:after {
    margin-top: 0.6em; }

@media (min-width: 768px) {
  .header,
  .content {
    padding-left: 2em;
    padding-right: 2em; }

  #layout {
    padding-left: 210px;
    /* left col width "#menu" */
    left: 0; }

  #menu {
    left: 210px; }

  .menu-link {
    position: fixed;
    left: 210px;
    display: none; }

  #layout.active .menu-link {
    left: 210px; } }
@media (max-width: 768px) {
  #layout.active {
    position: relative;
    left: 210px; } }
.pure-menu-item {
  text-align: left;
  font-size: 1.4em;
  font-family: "Montserrat", "Helvetica Neue",Helvetica,Arial,sans-serif; }

.menu-center {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff; }
  .menu-center img {
    margin-top: -0.8em; }
  @media (max-width: 768px) {
    .menu-center {
      margin-top: -0.8em; } }

#menu-footer {
  bottom: 0;
  width: 210px;
  height: 50px;
  position: absolute;
  text-align: center;
  margin-left: -20px;
  z-index: -1000; }

.list-group-item:not(.active) h4 {
  padding-top: 7px;
  color: #000000; }

.list-group-item-text {
  padding-bottom: 7px; }

.sort {
  cursor: pointer; }

.last_updated {
  color: #AEAEAE; }

@media (max-width: 768px) {
  .mobile_padding {
    padding-top: 25px; } }
#toc .toc-active {
  background: #337ab7; }
  #toc .toc-active a {
    color: #ffffff; }

.article h2, h3 {
  margin-top: 2em; }

.grid {
  max-width: 1400px; }

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both; }

/* ---- .grid-item ---- */
.grid-sizer,
.grid-item {
  width: 50%; }
  @media (max-width: 768px) {
    .grid-sizer,
    .grid-item {
      width: 100%; } }

.grid-item--width2 {
  width: 100%; }

.grid-item {
  float: center; }

.grid-item img {
  display: block;
  max-width: 100%; }

.list-group-item.active,
.list-group-item.active:hover {
  background-color: #4A5767;
  border-color: #717171; }

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; }

p {
  font-size: 1.1em; }

/*# sourceMappingURL=styles.css.map */
