.list-group-item:not(.active) h4 {
	// Increase the list readability by adding spacing before and after:
	padding-top: $text-list-vertical-spacing;

	// Make the heading stand out by making it darker:
	color: #000000;
}

.list-group-item-text {
	padding-bottom: $text-list-vertical-spacing;
}

// Sort by name/date should have a pointy cursor
.sort {
	cursor: pointer;
}

// Lighten the "Last updated" bit
.last_updated {
	color: #AEAEAE;
}


// Add a spacing in the top when seen on a mobile
// so that the burger box doesn't overlap with the title
@media (max-width: $menu-hide-when-less-than) {
	.mobile_padding {
		padding-top: 25px;
	}
}
