.grid {
	max-width: 1400px;
}

/* clear fix */
.grid:after {
	content: '';
	display: block;
	clear: both;
}

/* ---- .grid-item ---- */
.grid-sizer,
.grid-item {
	width: 50%;
	@media (max-width: $menu-hide-when-less-than) {
		width: 100%;
	}

}

.grid-item--width2 { width: 100%; }

.grid-item {
	float: center;
}

.grid-item img {
	display: block;
	max-width: 100%;
}
