$menu-width: 210px;
$menu-background-color: #313841;
$menu-hover-background-color: #3a424d;
$menu-active-background-color: #21262c;
$menu-text-link-color: #eee;
$menu-links-padding: 0.8em;
$menu-links-smallsize-padding: 0.3em;
$menu-left-padding: 20px;
$menu-hide-when-less-than: 768px;
$menu-footer-height: 50px;

$text-list-vertical-spacing: 7px;

@mixin transition($values) {
    -webkit-transition: $values;
    -moz-transition: $values;
    -ms-transition: $values;
    -o-transition: $values;
    transition: $values;
}

