{% extends 'base.html' %}

{% block title %}Page not found{% endblock %}

{% block extrahead %}
<style>
	.vertical-center {
		min-height: 100%;
		min-height: 100vh;
		display: flex;
		align-items: center;
	}
</style>

{% endblock %}
{% block content %}

<div class="vertical-center">
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-4">
			<h1 class="text-right">4</h1>
		</div>
		<div class="col-xs-4">
			<h2 class="text-center">0</h2>
			<p class="text-center">Page not found</p>
		</div>
		<div class="col-xs-4">
			<h1 class="text-left">4</h1>
		</div>
	</div>
</div>
</div>


{% endblock %}



