{% extends 'text-content-list.html' %}
{% set active_page = "Articles" %}
{% set content_type = "article" %}

{% block title %}Articles{% endblock %}

{% block extrahead %}
	<link href="{{ url_for('atom_feed') }}" rel="alternate" title="Recent Articles at thebuildmaestro" type="application/atom+xml"/>
	<meta name="description" content="articles written by Nick Skitch">

{% endblock %}

{% block content_intro %}
	<h2>Articles</h2>
	<p>These are where you can read some of my posts.</p>
	<p>If you want to keep track of new articles I write, you can point your RSS reader to this page, it should automaticaly pick up the <a href="{{url_for('atom_feed')}}">Atom feed <span class="label label-warning"><span class="fa fa-rss"></span></span></a> &nbsp; I recommend the <a href="https://play.google.com/store/apps/details?id=net.etuldan.sparss&hl=en">spaRSS</a> app if you have an Android device.</p>
{% endblock %}

{% block list_header %}Documents{% endblock %}
